body {
    font-family: Arial, sans-serif;
    background-color: #EFDAAF;
    color: #7D1B16;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2E7571;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #EFDAAF;
    background-color: #7D1B16;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    margin: 0;
}

.container {
    margin: 20px auto;
    padding: 20px;
    max-width: 80%;
    border: 2px solid #7D1B16;
    background-color: #EFDAAF;
    border-radius: 15px;
}

h2 {
    color: #7D1B16;
    text-align: center;
}

p {
    margin: 10px 0;
    text-align: center;
}

.image-gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.image-card {
    background-color: #004349;
    border-radius: 15px;
    padding: 8px;
    margin: 10px;
    display: inline-block;
    position: relative;
    overflow: hidden; /* Make sure blur effect stays within the borders */
}

.image-card img {
    width: 220px;
    height: 220px;
    border-radius: 10px;
    display: block;
    filter: blur(10px); /* Initial blur effect */
    transition: filter 0.5s ease; /* Smooth transition when removing blur */
    cursor: pointer; /* Indicate that the image is clickable */
}

.image-card.revealed img {
    filter: none; /* Remove blur on click */
}

.image-card .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: #EFDAAF;
    font-size: 18px;
    padding: 10px;
    border-radius: 0 0 15px 15px;
    box-sizing: border-box;
    text-align: center;
}

.letter img {
    width: 220px;
    height: 220px;
    margin-top: 20px;
    border-radius: 10px;
}

.letter {
    margin: 40px auto;
    padding: 20px;
    max-width: 1200px;
    border: 2px solid #7D1B16;
    background-color: #2E7571;
    color: #EFDAAF;
}

.letter p {
    margin: 10px 0;
    line-height: 1.5;
    text-align: center;
}
